Flask==3.1.0
requests==2.32.3
beautifulsoup4==4.12.3
botasaurus==4.0.76
botasaurus_api==4.0.9
botasaurus_driver==4.0.66
botasaurus_proxy_authentication==1.0.16
botasaurus_requests==4.0.38
botasaurus_server==4.0.60
